<a href="https://colab.research.google.com/github/deepakumari84/assignment_2/blob/main/assignment_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
data = "Ali-85,Sara-90,Ahmed-85,Zara-92,Ali-85"
print (data)

Ali-85,Sara-90,Ahmed-85,Zara-92,Ali-85

In [ ]:
records = data.split(",")
print(" Records List:", records)

 Records List: ['Ali-85', 'Sara-90', 'Ahmed-85', 'Zara-92', 'Ali-85']

In [ ]:
row = []
for record in records:
    name, marks = record.split("-")
    row.append((name, int(marks)))
print(" Tuples:", row)

 Tuples: [('Ali', 85), ('Sara', 90), ('Ahmed', 85), ('Zara', 92), ('Ali', 85)]

In [ ]:
student_group = set(row)

In [ ]:
print("student group(remove duplicates name and marks):", student_group)

student group(remove duplicates name and marks): {('Ali', 85), ('Sara', 90), ('Ahmed', 85), ('Zara', 92)}

In [ ]:
student_dict = dict(student_group)

In [ ]:
print(" Dictionary:", student_dict)

 Dictionary: {'Ali': 85, 'Sara': 90, 'Ahmed': 85, 'Zara': 92}

In [ ]:
student_dict = {'Ali': 85, 'Sara': 90, 'Ahmed': 85, 'Zara': 92}

In [ ]:
high_name = ""
high_marks = 0

In [ ]:
for name, marks in student_dict.items():
    if marks > high_marks:
        high_marks = marks
        high_name = name

In [ ]:
print("highest marks:", (high_name, high_marks))

highest marks: ('Zara', 92)

In [ ]:
names = tuple(student_dict.keys())
print("Tuple of student names:", names)

Tuple of student names: ('Ali', 'Sara', 'Ahmed', 'Zara')

In [ ]:
uni_marks = set(student_dict.values())

In [ ]:
print(" count:", len(uni_marks))

 count: 3

In [ ]:
print("Unique marks are:", uni_marks)

Unique marks are: {90, 92, 85}